* {
    margin: 0.625rem;
    padding: 0.3125rem;
}

h1 {
    font-family: Verdana;
    color: blue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.textosInternos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}